openapi: 3.0.0

info:
  title: My API
  version: 1.0.0
  description: School Project API

servers:
  - url: https://syllabux-api.dcism.org
    description: Production Development
paths:
  /api/auth/register:
    post:
      summary: Register a new user
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [first_name, last_name, email, password, role]
              properties:
                first_name:
                  type: string
                  example: John Paul
                last_name:
                  type: string
                  example: Gumandoy
                email:
                  type: string
                  example: jp@gmail.com
                password:
                  type: string
                  example: secret123
                role:
                  type: string
                  example: admin
      responses:
        201:
          description: User registered successfully
        400:
          description: Validation error
  /api/auth/login:
    post:
      summary: Login
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, remember_me]
              properties:
                email:
                  type: string
                  example: jp@gmail.com
                password:
                  type: string
                  example: secret123
                remember_me:
                  type: boolean
                  example: true
      responses:
        200:
          description: User login successfully
        400:
          description: Validation error
        401:
          description: Invalid Credentials
  /api/auth/validatetoken:
    post:
      summary: Token validator
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                  example: kucannadsnjajkrtnjkdsanjknjkadjkjuandsanjkdalia
      responses:
        200:
          description: Token validated
        401:
          description: Invalid token
